<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}AquaNote!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container-fluid">

        <div class="my-2">
            <a href="{{ path('app_homepage') }}" class="btn btn-link">home</a>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <p>
                    Username: {{ app.user.username }} --
                    {% if is_granted('ROLE_ADMIN') %}
                        ADMIN
                    {% elseif is_granted('ROLE_USER') %}
                        USER
                    {% endif %}
                    <a href="{{ path("logout") }}" class="btn btn-link">logout</a>
                </p>
            {% else %}
                <p>ANONIMUS
                    <a href="{{ path("login") }}" class="btn btn-link">login</a>
                    <a href="{{ path("user_registration") }}" class="btn btn-link">register</a>
                </p>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_index') }}" class="btn btn-link">users list</a>
                <a href="{{ path("admin_page") }}" class="btn btn-link">admin page</a>
                <a href="{{ path('secret_page') }}" class="btn btn-link">secret page</a>
            {% endif %}
        </div>

        <div class="main-content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer"></div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
