{% extends 'base.html.twig' %}

{% block title %}User edit{% endblock %}

{% block body %}
    <h2>User edit</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
