{% extends 'base.html.twig' %}

{# @var pagination \Knp\Bundle\PaginatorBundle\Pagination\SlidingPagination #}
{% block body %}

    <h2>Users list</h2>

    {# total items count #}
    <div class="pull-left">
        <a href="{{ path('user_new') }}" class="btn btn-primary">Create a new user</a>
        &nbsp Total: {{ pagination.getTotalItemCount() }}
    </div>

    {# sorting options #}
    <div class="pull-right">
        <label for="select-sort-field">Sort by&nbsp</label>
        <select name="select-sort-field" id="select-sort-field" class="select-option">
            {% for field in fields %}

                <option value="{{ field }}"
                    {% if parameters.sort_by == field %}
                        selected
                    {% endif %}
                >{{ field }}</option>

            {% endfor %}
        </select>

        <label for="select-sort-dir">Sort direction</label>
        <select name="select-sort-dir" id="select-sort-dir" class="select-option">
            <option value="asc"
                {% if parameters.sort_dir == "asc" %}
                    selected
                {% endif %}
            >asc</option>
            <option value="desc"
                {% if parameters.sort_dir == "desc" %}
                    selected
                {% endif %}
            >desc</option>
        </select>
    </div>

    {# users table #}
    <table class="table table-striped table-bordered table-hover table-sm table-responsive-md" cellspacing="0">

        {# table head #}
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Is admin</th>
            {# <th>Isactive</th>
            <th>Password</th>
            <th>Salt</th>#}
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.login }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender|upper|first }}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{% if user.isAdmin %}Yes{% else %}No{% endif %}</td>
                {#<td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.salt }}</td>#}
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    {# pagination #}
    <div class="navigation">
        {{ knp_pagination_render(
            pagination,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {}, {
                'rounded': true,
            })
        }}
    </div>
{% endblock %}
