{% extends 'base.html.twig' %}

{% block title %}User creation{% endblock %}

{% block body %}
    <h2>User creation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
